<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}<title>{{ title }}</title>{% endif %}
  {% block head %}
    {# https://purecss.io/start/ #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">

    <link href="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/styles/choices.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/scripts/choices.min.js"></script>
    
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/index.js"></script>
  {% endblock %}
</head>

<body>
  <div class="content">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% block content %}{% endblock %}
  </div>
</body>

</html>
