{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <form class="pure-form index-url-form js-index-url-form" action="/get_data" method="post">
        <label for="stop_name">
            Маршруты для остановки
        </label>
        <select name="stop_name">
            {% for item in all_stops_list %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="pure-button pure-button-primary">
            <span class="js-index-url-form__text-default">Получить данные</span>
            <div class="index-url-form__loader js-index-url-form__text-loading hidden"></div>
        </button>
    </form>

    <div class="error-data hidden">
        <h3>Произошла ошибка</h3>
        <div></div>
    </div>

    <div class="response js-response-app"></div>

    <p style="margin: 50px 0 20px; font-size: 12px;"><a href="https://github.com/nex2hex/tr74-conv" target="_blank">Исходный код</a></p>
{% endblock %}